<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body class ="bg-1" >
	  <div class="pic">
	  <img src= <%= url%> >
	  <form name = "kitten" method = "get" class="form">
	  		<button type = "submit" class="btn btn-danger" id="more">More Kittens!</button>
	  </form>
	  </div>
	</body>
</html>